.stripes {
  width: 100%;
  --left-width: 20%;
  --angle-width: 50px;
  --stripe-height: 20px;
  --stripe-angle: 39deg;
}

.stripe {
  display: flex;
  align-items: left;
  margin: 0 0 -1px;
  width: 100%;
  --stripe-color: #ffe27a;

  & span,
  &::before,
  &::after {
    content: " ";
    height: var(--stripe-height);
    display: block;
    background-color: var(--stripe-color);
    --rotated-height: calc(var(--angle-width) * tan(var(--stripe-angle)));
  }
}

.stripe span {
  transform: skewY(var(--stripe-angle));
  transform-origin: 0% 0%;
  flex: 0 0 auto;
  width: calc(var(--angle-width));
  height: var(--stripe-height);
}
.stripe::before {
  width: var(--left-width);
  flex: 0 0 auto;
}
.stripe::after {
  flex: 1 1 auto;
  transform: translate(0, var(--rotated-height));
}
.blue {
  --stripe-color: rgb(0, 0, 255);
}
.yellow {
  --stripe-color: #ffe27a;
}

.orange {
  --stripe-color: #ffa64d;
}

.dark-orange {
  --stripe-color: #ff7f1a;
}
