:host {
  display: block;
  position: relative;
  --angle-x-start: 35%;
  --angle-width: 5%;
  --angle-y-end: 40px;
  --stripe-height: 16px;
  --stripe-color: #ffe27a;
  width: 100%;
  min-height: var(--stripe-height);
}
::slotted(dope-stripe),
dope-stripe {
  --no-top-margin: -1;
}
dope-stripe:first-child {
  --no-top-margin: 0;
}
.stripes:not(:has(dope-stripe)) {
  ::slotted(dope-stripe:first-child) {
    --no-top-margin: 0;
  }
}
