---
import HeaderNav from './HeaderNav.astro';
import HeaderSocials from './HeaderSocials.astro';
import { SITE_TITLE, SITE_SUBTITLE, PROFILE_PIC, SOCIALS } from '~/consts';
---

<header class="h-card" id="scottnath" itemprop="author" itemscope itemtype="https://schema.org/Person">
  <h2>
    <span class="name p-name" itemprop="name">{SITE_TITLE}</span>
    <span class="title p-job-title" itemprop="jobTitle">{SITE_SUBTITLE}</span>
  </h2>
  <HeaderNav />
  <a href="https://scottnath.com" class="u-url u-uid"><img src={PROFILE_PIC} alt="Scott Nath's picture" width="400" height="400" class="avatar u-photo" itemprop="image" /></a>
  <HeaderSocials class="socials" />
</header>
<style>
	header {
    --header-height: 11.2em;
    --spacing: .3em;
    --stripes-top: 2.3em;
    --stripes-left: 110px;
    --stripes-angle-width: 57px;
    --avatar-left: .5em;
    --stripe-dir: row-reverse;

		margin: 0 0 1em;
    height: var(--header-height);
    position: relative;
    overflow: hidden;

    :global(.socials) {
      position: absolute;
      right: var(--spacing);
      top: var(--spacing);
    }
    @media (min-width: 500px) {
      --stripes-left: 127px;
      --stripes-angle-width: 57px;
      --avatar-left: 1em;
    }
	}
	h2 {
		margin: 0;
    padding: var(--spacing);
    align-items: center;

    span {
      display: block;
      margin: 0;
      padding: 0;
    }

    .title {
      padding: 0;
      margin: 0;
      font-size: .7em;
      font-style: italic;
      font-weight: normal;
      text-align: right;
      padding-top: .3em;
    }
	}
  .avatar {
    position: absolute;
    /* 0.2 vertically centers in stripes */
    top: calc(var(--stripes-top) + 0.2em);
    left: var(--avatar-left, .5em);
    width: 100%;
    max-width: 90px;
    border-radius: 50%;
    border: 1px solid #ddd;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 2px 2px #fff;
  }
  
</style>
