:host {
  /** styles from forem/forem */
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --grey-100: 245, 245, 245;
  --grey-900: 23, 23, 23;
  --indigo-600: 79, 70, 229;
  --indigo-700: 67, 56, 202;
  --base-60: #717171;
  --base-70: #575757;
  --base-90: #242424;
  --radius: 0.375rem;

  --body-bg: rgb(var(--grey-100));
  --card-bg: rgb(var(--white));
  --card-color: var(--base-70);
  --card-color-bold: var(--base-90);
  --card-shadow-color: rgba(var(--grey-900), 0.05);

  --color-base: var(--base-70);
  --color-mild: var(--base-70);
  --color-bold: var(--base-90);

  --divider: 1px solid var(--body-bg);

  --ff-base: var(--ff-sans-serif);

  --fs-base: 16px;
  --fs-mild: 0.875em;
  --fs-bold: 1.25em;

  --fw-base: 500;
  --fw-bold: 700;
  
  --accent-brand: rgb(var(--indigo-600));
  --accent-brand-darker: rgb(var(--indigo-700));
  --profile-brand-color: rgb(var(--black));

  --cta-bg: transparent;
  --cta-bg-hover: rgba(var(--indigo-600), 0.1);
  --cta-color: rgb(var(--grey-800));
  --cta-color-hover: var(--accent-brand-darker);
  --cta-border: rgb(var(--grey-600));
  --cta-border-hover: var(--accent-brand-darker);

  --cta-branded-bg: transparent;
  --cta-branded-bg-hover: var(--accent-brand);
  --cta-branded-color: var(--accent-brand);
  --cta-branded-color-hover: rgb(var(--white));
  --cta-branded-border: var(--accent-brand);
  --cta-branded-border-hover: var(--accent-brand-darker);


  
}
:host {
  line-height: 1.5;

  color: var(--color-base);
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
}
/** root elements cleanup */
* {
  padding: 0;
  margin: 0;
  margin-inline: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
  margin: 0.5em 0;
}
dt {
  color: var(--color-mild);
  font-size: var(--fs-mild);
}
p {
  color: var(--color-mild);
  font-size: var(--fs-mild);
  margin: 0.5em 0;
}
p > svg {
  vertical-align: top;
  width: 1.3em;
  height: 1.3em;
}
.summary {
  color: var(--color-base);
  font-size: var(--fs-base);
  font-style: italic;
}
.summary {
  font-style: italic;
}

:host::part(card) {
  position: relative;
  border-top: 2em solid var(--profile-brand-color);
  border-radius: var(--radius);
  box-shadow: 0 0 0 1px var(--card-shadow-color);
  background: var(--card-bg);

  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  max-width: 30em;
}

:host header {
  border-bottom: var(--divider);
  margin-bottom: 1em;
  padding: 0 1em;
}
:host footer {
  border-top: var(--divider);
  margin-top: 1em;
  padding: 1em;
}

:host::part(logo) {
  width: 1.6em;
  height: 1.6em;
  margin: 0 auto;
  position: absolute;
  right: 1em;
  top: -1.8em;
  box-shadow: 0 0 0 1px white;
  border-radius: .07em;
}

:host header a {
  display: flex;
  margin-top: -1em;
}

:host::part(avatar) {
  display: inline-block;
  border-radius: 100%;
  position: relative;
  width: 3em;
  height: 3em;
  overflow: hidden;
  vertical-align: middle;
  flex-shrink: 0;
  margin-right: .5em;
}
:host::part(avatar) img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: bottom;
}

:host::part(name) {
  margin-top: 1.25em;

  color: var(--color-bold);
  font-size: var(--fs-bold);
  font-weight: var(--fw-bold);
}

:host::part(main) {
  padding: 0 1em;
}

:host::part(post) {
  color: var(--card-color-bold);
}
:host::part(post-img) {
  width: 100%;
  height: auto;
}
:host::part(cta) {
  border: 1px solid;
  outline: 0;
  text-align: center;
  display: block;
  position: relative;
  overflow-wrap: normal;
  padding: .5em 1em;

  border-color: var(--cta-border);
  border-radius: var(--radius);
  background-color: var(--cta-bg);
  color: var(--cta-color);
}

:host::part(cta):hover, :host::part(cta):focus {
  background-color: var(--cta-bg-hover);
  border-color: var(--cta-border-hover);
  color: var(--cta-color-hover);
}

:host::part(cta):focus {
  box-shadow: var(--focus-ring);
  text-decoration: underline
}

:host::part(branded) {
  border-color: var(--cta-branded-border);
  background-color: var(--cta-branded-bg);
  color: var(--cta-branded-color);
}
:host::part(branded):hover, :host::part(branded):focus {
  background-color: var(--cta-branded-bg-hover);
  border-color: var(--cta-branded-border-hover);
  color: var(--cta-branded-color-hover);
}