/* Dark High Contrast Theme */

:root {

  --color-avatar-border: rgba(255,255,255,0.9);
  --color-border-default: #7a828e;
  --color-canvas-default: #0a0c10;
  --color-canvas-subtle: #272b33;
  --color-fg-default: #f0f3f6;
  --color-fg-muted: #f0f3f6;
  --color-fg-subtle: #9ea7b3;
  --color-fg-onemphasis: #0a0c10;
  --color-fg-accent: #71b7ff;
  --color-fg-danger: #ff6a69;

  --borderWidth-thin: max(1px, 0.0625rem);
  --borderWidth-thick: max(2px, 0.125rem);
  --borderRadius-small: 3px;
  --borderRadius-medium: 6px;
}
:root {
  --stripe-1: #ffd273;
  --stripe-2: #ffbf57;
  --stripe-3: #ffa43b;
  --stripe-4: #ff8920;
  --stripe-5: #ff6e05;

  --bg-color-light: var(--color-canvas-subtle);
  --bg-color-normal: var(--color-canvas-default);

  --border-color-light:var(--stripe-1);
  --border-color: var(--stripe-5);
  /* --border-color: var(--color-border-default); */
  --border-width-thin: var(--borderWidth-thin);
  --border-width: var(--borderWidth-thick);
  --border-radius: var(--borderRadius-medium);

  --color-light: var(--color-fg-subtle);
  --color-normal: var(--color-fg-default);
  --color-bold: var(--color-fg-default);

  --color-link: var(--color-fg-accent);
  --color-danger: var(--color-fg-danger);

  --base-font-family: Calibri, Helvetica, Arial, sans-serif;
  --heading-font-family: 'gill sans', sans-serif;
  --base-font-size:   16px;
  --base-font-weight: 300;
  --small-font-size:  $base-font-size * 0.875;
  --base-line-height: 1.25rem;

  --font-size-light: 0.875em;
  --font-size-normal: 1em;
  --font-size-bold: 1.25em;
  --font-size-title: 1.5em;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 550;

  --paragraph-unit: 1em;
  --spacing-unit: 2em;
  --list-indent: 2ch;

  --max-character-width: 80ch;

  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

body {
  text-rendering: optimizeLegibility;
  line-height: var(--base-line-height);
  font-weight: var(--base-font-weight);
  color: var(--color-normal);
  background-color: var(--bg-color-normal);

	margin: auto;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;

  > header,
  > main, 
  > footer {
    min-width: 300px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: var(--color-bold);
  font-weight: var(--font-weight-bold);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
  font-family: var(--heading-font-family);
}
a {
	color: var(--color-link);
}
a:visited {
	color: var(--color-link);
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: var(--bg-color-light);
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid var(--border-color);
	color: var(--color-bold);
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
figure {
  margin: 0;
}

dl {
  dt {
    font-weight: var(--font-weight-bold);
  }
  dd {
    margin-inline-start: 0;
  }
}

ul, ol {
  padding-inline-start: var(--list-indent);
}

.sr-only {
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

#skip-to-main {
  position:absolute;
  left:0;
  top: -40px;
  padding: 6px;
  transition: top .5s ease-out;
  z-index: 100;

  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #BF1722;

  &:focus {
    transition: top .05s ease-in;
    top: 0;
  }
}

main {
  container-name: main;
  container-type: inline-size;
  padding: 0 .4em;
}
/* main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} */

.title {
	margin: 0.25em 0;
  line-height: 1.25;
}
hr {
	border-top: 1px solid var(--border-color-light);
	margin: 1rem 0;
}
.last-updated-on {
	font-style: italic;
}

ul.dated-list {
	list-style-type: none;
	padding: unset;
}
ul.dated-list li {
	display: flex;
}
ul.dated-list li time {
	flex: 0 0 130px;
	font-size: .9em;
	font-style: italic;
	color: var(--color-light);
}
ul.dated-list li .content {
	flex: 1;
}
ul.dated-list li .content p {
	margin: .25em 0;
	font-size: .9em;
}

ul.actions {
	list-style-type: none;
	padding: unset;
  text-align: right;
  padding: 0;
  margin: 0;
}
ul.actions li {
	margin-left: 10px;
	margin: .6em 1em;
  display: inline-block;
}
ul.actions li a,
ul.actions li a:visited {
	text-decoration: none;
	color: var(--color-link);
}
ul.actions li a img {
	margin-right: .2em;
	width: 1em;
	height: 1em;
	vertical-align: text-top;
}

ul.directories ul {
  padding-inline-start: 2em;
}
ul.directories li.folder {
  list-style-type: '📁 '
}
ul.directories li.folder-open {
  list-style-type: '📂 '
}
ul.directories li.file {
  list-style-type: '📄 '
}



ul.social-cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  list-style-type: none;
  container-name: socials;
  container-type: inline-size;

  > li {
    flex: 1 1 100%;
    margin: 0;
    padding: 0;
  }
}
@container main (min-width: 500px) {
  ul.social-cards:has(li:nth-of-type(2)) li  {
    flex: 1 1 49%;
  }
}


.with-conic-gradient {
	--angle: 0deg;
  border-style: solid;
  border-width: 2px;
  border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;

	animation: 10s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.readable {
  max-width: var(--max-character-width);
  width: 100%;
  margin: 0 auto var(--spacing-unit);
  line-height: 1.5em;
  text-wrap: pretty;
  container-name: readable;
  container-type: inline-size;

  h1, h2, h3 {
    border-bottom: 1px solid var(--border-color);
  }

  img {
    max-width: 100%;
  }


  dl:has(div) {
    div {
      margin-bottom: var(--paragraph-unit);
      background-color: var(--bg-color-light);
      border: 1px solid var(--border-color-light);
      border-radius: var(--border-radius);
      overflow: hidden;
    }
    dt {
      font-weight: var(--font-weight-bold);
      border-bottom: 1px solid var(--border-color-light);
      padding: .5ch;
    }
    dd {
      padding: .5ch;
      background-color: var(--bg-color-normal);
    }
  }
  
  @container readable (min-width: 500px) {
    >p {
      padding: 0 var(--paragraph-unit);
    }
    ul, ol {
      padding-inline-start: var(--spacing-unit);
    }
    dl:has(div) {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      
      div {
        flex: 1 1 calc(50% - var(--spacing-unit));
      }
      dd {
        padding-inline-start: calc(var(--list-indent) / 2);
        height: 100%;
      }
    }
  }

  @container (min-width: 100ch) {
    dl:has(div) {      
      div {
        flex-basis: 100%;
      }
    }
  }
}

article {
  container: article;
  margin: 0 auto;
  max-width: var(--max-character-width);
  width: 100%;

  @container main (min-width: 100ch) {
    .meow {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--paragraph-unit);
    }
  }
}

.blog-post {
  max-width: 900px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

#youtube-brief {
  width: 100%;
}