---

import SiteWide from '~layouts/SiteWide.astro';

import GitHubUser from '../components/GitHubUser.astro';
import DevToUser from '../components/DevToUser.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<SiteWide title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <article>
    <div>
      <p>{SITE_DESCRIPTION}</p>
      
    </div>
    <ul class="social-cards">
      <li><GitHubUser /></li>
      <li><DevToUser /></li>
    </ul>
	</article>
</SiteWide>
