---
import SiteWide from '~layouts/SiteWide.astro';
import {JsonResume} from 'jsonresume-component';
import { SITE_DESCRIPTION } from '../consts.ts'

const pageTitle = `Resume for Scott Nath - ${SITE_DESCRIPTION}`;
---
<SiteWide title={pageTitle}>
  <div class="resume">
    <JsonResume client:only="lit" json_url="/resume.json" preordered="true" style="--color-background: var(--bg-color-normal); --color-link: var(--color-link); --color-primary: var(--color-normal); --color-secondary: var(--color-light); --color-dimmed: var(--bg-color-light)"></JsonResume>
  </div>
</SiteWide>
<style>
  .readable:has(.actions) {
    margin-bottom: 0;
  }
  .resume {
    max-width: 51em;
    margin: 0 auto;
  }
</style>