---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>

	<body>
    <a href="#main" id="skip-to-main">Skip to main content</a>
		<Header />
		<main transition:animate="slide" id="main">
      <slot />
		</main>
		<Footer />
	</body>
</html>
